/* 공통스타일*/
div.find_id .way, div.find_pw .way, div.find_pw .way span, a.btn, .login .input_form label, .login,
.login .input_form input, .login .input_form ul, .login .etc div, .join ul.tabMenu li, div.join .way_age, .way_parent,
.member_svc ul li, .member_svc, .member_svc ul li span.img, .member_svc ul li p, .check, .input_form input, table.tbl_common tr td input, ul.link_policy li,
#sitemap ul li, #sitemap > div > div, .way_parent h2
{box-sizing:border-box; /*W3C*/ 
	   -o-box-sizing:border-box; /*Opera*/
	   -ms-box-sizing:border-box; /*Internet Explorer*/
	   -moz-box-sizing:border-box; /*Firefox*/ 
	   -webkit-box-sizing:border-box; /*Safari & Chrome*/ }


h2.tit_square { font-size:17px; color:#333; padding-left:25px; margin-bottom:20px; 
					background:url('../img/blt_h2_square.gif') no-repeat left center ;  }
h3.tit_square { font-size:15px; color:#333; padding-left:15px; margin-bottom:15px; margin-left:15px; 
					background:url('../img/blt_h3_square.gif') no-repeat left center ;  }
p.intro { line-height:140%; font-size:13px; padding-bottom:15px; } 

input[type="text"], input[type="password"] { border:1px solid #c0c0c0; vertical-align:middle; padding:3px; font-family:'Malgun Gothic', sans-serif; }
input[type="radio"] { vertical-align:middle; }
select { border:1px solid #c0c0c0; vertical-align:middle; padding:3px; } 


div.btns { text-align:center; }
.mb_3 { margin-bottom:3%;}

/*
.layer_popup { position:absolute; z-index:60; overflow:hidden; background:white; }
.layer_popup h2 { height:42px; color:white; background:#FBDB00 url('../img/bg_tit_popup.gif') no-repeat 0 0; vertical-align:middle; }
.layer_popup h2 span { display:inline-block; padding:10px 0 0 10px; font-weight:bold; text-shadow:1px 1px #EBBC00; }
.layer_popup > p { text-align:center; padding:30px 10px; font-size:13px; line-height:130%;}

.layer_popup .layer_close { display:block; position:absolute; top:8px; right:8px;  }
.layer_popup .btns { text-align:center; padding:20px 0;}
.layer_popup .btns a { display:inline-block; font-size:13px; height:21px; padding:5px 20px 0; border-radius:30px; }
.layer_popup .btns a.okay { border:2px solid #FFCD00; color:#d4a500; }
.layer_popup .btns a.cancel { border:2px solid #A5A5A5; color:#888; }
.mask { background:url('../img/img_mask.png') repeat 0 0; position:absolute; top:0; left:0; z-index:50; display:none; }
*/
/*
.mask { background:url('../img/img_mask.png') repeat 0 0; position:absolute; top:0; left:0; z-index:50; }
.layer_bg { position:fixed; width:100%; height:100%; background:url('../img/img_mask.png'); }*/
.layer_popup { position:fixed; margin:auto; top:0; left:0; right:0; bottom:0; 
					background:white; box-shadow:1px 1px 3px #999; z-index:1000; }
.layer_popup h2 { height:40px; color:white; background:#FBDB00 url('../img/bg_tit_popup.gif') no-repeat 0 center; vertical-align:middle; }
.layer_popup h2 span { display:inline-block; padding:10px 0 0 10px; font-weight:bold; text-shadow:1px 1px #EBBC00; }
.layer_popup form { height:100%; padding:0; margin:0; }
.layer_popup div.ct { overflow:hidden; padding:20px; text-align:center; }
.layer_popup form div.ct { overflow:hidden; padding:20px; text-align:center; }
.layer_popup p { font-size:13px; padding-bottom:20px; line-height:130%; }
.layer_popup ul li { font-size:13px; }
.layer_popup .layer_close { float:right; width:26px; height:26px; position:relative; top:7px; right:8px; }
.layer_popup .btns { clear:both; text-align:center; padding:0 0 20px; }
.layer_popup .btns a { display:inline-block; font-size:13px; height:21px; padding:5px 20px 0; border-radius:30px; }
.layer_popup .btns a.okay { border:2px solid #FFCD00; color:#d4a500; }
.layer_popup .btns a.cancel { border:2px solid #A5A5A5; color:#888; }
.layer_popup .btns a.okay:hover { background: #FFCD00; color:#000; }
.layer_popup .btns a.cancel:hover { background:#A5A5A5; color:#fff; }

#pop_fail_01 { width:500px; height:260px; }
#pop_fail_01 div img { float:left; padding-top:10px; }
#pop_fail_01 ul.contact { float:right; }
#pop_fail_01 ul.contact { padding-top:10px; }
#pop_fail_01 ul.contact li { padding-bottom:5px; text-align:right; }

#pop_fail_02 { width:500px; height:295px; }
#pop_fail_02 p { font-size:12px; text-align:left; }

#popup_id_sch { width:400px; height:170px; }
#pop_pw_change { width:440px; height:245px; }
#popup_certify { width:400px; height:220px; }
#popup_id_sch span#memberID, .pop_pw_ok span#member_name { font-weight:bold; color:#000; text-decoration:underline; }
#pop_pw_change ul, #popup_certify ul { text-align:center; }
#pop_pw_change ul li, #popup_certify ul li, #input_user_data ul li { margin-bottom:5px; }
#pop_pw_change ul li input, #input_user_data ul li input { width:40%; }
#pop_pw_change ul li label, #popup_certify ul li label { font-size:12px; padding-right:10px; vertical-align:middle; color:#555; text-align:left; }
#input_user_data ul li label { font-size:12px; display:inline-block; width:20%; text-align:left; vertical-align:middle; color:#555; }
#input_user_data { width:400px; height:280px; }

.pop_pw_ok { width:300px; height:170px; }
.pop_pw_ok p { padding-bottom:0; }

/*로그인*/
.login { width:100%; border:1px solid #d4d4d4; overflow:hidden; }
.login >.box_login { padding:5%; overflow:hidden; }
.login .img { float:left; width:40%; text-align:center; padding-right:5%;}
.login .login_form { float:right; width:55%; }
.login .login_form p { padding-bottom:10px; }
.login .login_form p.greeting_en { font-family:'Arial', sans-serif; font-size:35px; color:#ddd; }
.login .login_form p.greeting_en b { color:#FFEEB8; }
.login .login_form p.greeting_kr { font-size:13px; line-height:120%; margin-bottom:20px; } 
.login .login_form p.greeting_kr strong { color:#000; }
.login .etc { clear:both; border-top:1px solid #d4d4d4; white-space: nowrap; }
.login .etc div { display:inline-block; width:33.3%; background:#F6F6F6; text-align:center; padding:25px 0; border-right:1px solid #d4d4d4; }
.login .etc div.join {border-right:0;}
.login .etc span { background:url('../img/blt_arrow.png') no-repeat left center; padding:2px 0 2px 20px; }
.login .etc a img.m { display:none; }
.login .join span { letter-spacing:-0.5px; }

.pw_change { padding-top:30px; border-top:1px solid #d4d4d4; }
.login .input_form, .pw_change .input_form { overflow:hidden; }
.login .input_form ul { float:left;  padding-right:5px; width:65%; }
.pw_change .input_form ul { width:40%; margin:0 auto; }
.login .input_form label, .pw_change .input_form label{ display:inline-block; font-size:13px; vertical-align:middle; color:#333;}
.login .input_form label{ width:25%; }
.pw_change .input_form label{ width:35%; }
.login .input_form input{ padding:6px; margin-bottom:6px; width:75%; }
.pw_change .input_form input { padding:6px; margin-bottom:6px; width:65%; }
.login .input_form a.btn_login_pc { float:left; width:112px;  }
.login .input_form a.btn_login_m { display:none; }



/*아이디찾기*/
div.find_id, div.find_pw, .way_wrap { overflow:hidden; }
div.find_id .way p, div.find_pw .way p, .way_parent p, .way_age p { font-size:13px; padding-bottom:15px; line-height:120%; }
div.find_id .way, div.find_pw .way, div.join .way_age, .way_parent { width:100%; margin-right:2%; padding:0 20px; float:left; 
						border-top:2px solid #FBE000; border-left:1px solid #d4d4d4; 
						border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; 
						text-align:center; }
div.find_id .way { height:387px; }
div.find_pw .way { height:370px; }

div.find_id .way img, div.way_parent img { padding:30px 0 25px; }

div.find_id .mobile, div.find_pw .mobile, div.join .last, .join .mobile { margin-right:0; }
div.find_id .way > span, div.find_pw .way > span, .join .way_age span, .way_parent span { display:inline-block; width:100%; border-bottom:1px solid #d4d4d4; }
.join .way_age span { padding-top:25px; height:70px; }
div.find_id .way h2, div.find_pw .way h2, .join .way_age h2, .way_parent h2 { width:100%; font-size:17px; color:#333; line-height:120%; }
div.find_id .way p, div.find_pw .way p, .way_parent p { padding:7px 0 0; height:45px; }
div.join .way_age p { padding-top:10px; }
div.find_id .way a.btn, div.find_pw .way a.btn, div.join a.btn, div.pw_change a.btn, .end_sleep a.btn { display:inline-block; line-height:100%; padding:8px 30px 10px; font-size:15px; color:white;  }
div.find_id .way a.btn, div.find_pw .data a.btn, div.join a.btn, div.pw_change a.btn, .end_sleep a.btn { margin:20px 0; }
div.find_pw .mobile a.btn { margin-bottom:5px; } 
div.find_id .way a.yellow, div.find_pw .way a.yellow, div.join a.yellow, div.pw_change a.yellow, .end_sleep a.yellow { background:#F0BA00; text-shadow:1px 1px #deac00; }
div.join a.deep_yellow { background:#f4a600; text-shadow:1px 1px #e19900; }


div.find_pw .way > span { padding:25px 10px; text-align:left;}
div.find_pw .way p { font-size:12px; line-height:130%;}


	/*비번찾기 탭메뉴*/
	div#tabs { width:100%; height:30px; padding-top:20px; background:url('../img/bg_tab.gif') repeat-x 0 100%; text-align:center; } 
	div#tabs ul, div#tabs ul li { margin:0; padding:0; }
	div#tabs ul li { display:inline-block; list-style:none; line-height:18px; }
	div#tabs ul li, div#tabs ul li a { background:url('../img/bg_tab_off.gif') no-repeat; }
	div#tabs ul li a { display:inline-block; padding:4px 40px 8px; background-position:100% 0; text-decoration:none !important; }
	div#tabs ul li.on, div#tabs ul li.on a { background:url('../img/bg_tab_on.gif'); color:#d4aa00; }
	div#tabs ul li.on a {background-position:100% 0; }

	div.find_pw .way table { width:70%; margin:25px auto 0; }
	div.find_pw .way table input { padding:3px; border:1px solid #B5B5B5; width:90%; }
	div.find_pw .way table th { text-align:left; }
	div.find_pw .way table th, div.find_pw .way table td { vertical-align:middle; padding:3px 0; }

	div.find_pw .way a.yellow, div.find_pw .way a.gray, .end_sleep a.yellow { padding:8px 20px 12px; }
	.btns_new .btn { display:inline-block; line-height:100%; padding:8px 30px 10px; font-size:15px; color:white; }
	.btns_new {clear:both; text-align:center; padding:20px 0; }

	a.gray { background:#ACACAC; text-shadow:1px 1px #a1a1a1; }
	
	div.find_pw .mobile span.img { display:block; text-align:center; padding:10px 0;} 
	div.find_pw .mobile a.btn { width:100%; }
	div.find_pw .mobile > span { margin-bottom:20px; }

	/*회원가입*/
	.join { overflow:hidden; }
	.join ul.tabMenu { overflow:hidden; padding-bottom:30px; }
	.join ul.tabMenu li { width:16.4%; float:left; margin-right:2px; background:#F3F2E9; height:72px; text-align:center; }
	.join ul.tabMenu li.last { margin-right:0; }
	.join ul.tabMenu li span { display:inline-block; }
	.join ul.tabMenu li span.small { padding:15px 0 5px; color:#b7b6aa; }
	.join ul.tabMenu li span.big { font-size:14px; }
	.join ul.tabMenu li.on { height:84px; background:url('../img/bg_tabMenu_on.gif') no-repeat top center;  }
	.join ul.tabMenu li.on span.small { color:#b3a000; }
	.join ul.tabMenu li.on span.big { color:#7d6700; font-weight:bold; font-size:16px; }

	.note { clear:left; margin:2% 0; padding:20px 30px; border-top:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5; background:#F9F9F9; }
	.note > span { display:block; padding-bottom:10px; font-size:14px; color:#000; vertical-align:middle; }
	.note ul li { padding-bottom:5px; }
	.note ul li { padding-left:8px; background:url('../img/blt_list.gif') no-repeat left center; }

	span.txt_help { display:block; background:url('../img/blt_arrow.png') no-repeat 0 3px; padding-left:20px; margin-bottom:5px; }
	a.btn_help { display:inline-block; font-size:11px; border:1px solid #A5A5A5; border-radius:2px; padding:0 5px 3px; 
					vertical-align:middle; background:url('../img/bg_btn_help.gif') repeat-x left bottom;  }

	/*약관동의*/
	.agree * { line-height:140%; }
	.member_svc { margin:3% 0; border:1px solid #FFD200; }
	.member_svc > span { display:block; background:#FFE400; padding:3px 0 5px; text-align:center; font-size:16px; color:#000; } 
	.member_svc ul { overflow:hidden; }	
	.member_svc ul li { float:left; width:33.25%; border-right:1px dotted #FAC200; text-align:center; position:relative; }
	.member_svc ul li.last { border-right:0; }
	.member_svc ul li span.img { display:block; padding:30px 0 20px; }
	.member_svc ul li span.txt { display:block;  background:#FFFCE3; height:55px; padding:15px 20px 0; font-size:13px; line-height:120%; }
	.member_svc ul li span.txt strong { color:#000; font-weight:bold; line-height:120%;}
	.member_svc ul li img.num { position:absolute; top:15px; left:15px; padding:0; }

	.join p.info { border-top:1px solid #D4D4D4; border-bottom:1px solid #D4D4D4; padding:20px; text-align:center; margin-bottom:3%; } 
	.join .clause_wrap {  margin:0 25px 3%; }
	.join .clause_wrap .clause { border:1px solid #D4D4D4;  background:#F9F9F9; height:180px; overflow-y:scroll; }
	.join .clause_wrap .check { position:relative; overflow:hidden; background:#767676; color:white; padding:7px 15px 8px; }
	.join .clause_wrap .check label { display:inline-block; padding-right:20px; }
	.check input { border:0; float:right; position:absolute; bottom:10px; right:10px; }
	.clause_wrap .mb { margin-bottom:1.5%; }
	.agree_all { text-align:center; padding:15px 0 0; margin-top:20px; border-bottom:1px dotted #aaa; color:#555; font-size:14px;  }
	.agree_all a{background:#666; color:#FFF;padding:10px; text-align:center; display:block; margin:-11px auto 30px; width:200px;}

	/*약관내용*/
	.terms_box * {font-family:'Gulim', 'Dotum', '굴림', '돋움', sans-serif; }
	.terms_box { padding:2% 3%; }
	.terms_box h4 { font-size:13px; padding-bottom:10px; color:#555;}
	.terms_box h5 { font-size:12px; padding-bottom:5px; }
	.terms_box p, .terms_box ul.numbering, .terms_box ul.alpha, .terms_box ul.general { padding-bottom:15px; }
	.terms_box ul.numbering > li { list-style-type:decimal; margin-left:20px; padding-bottom:2px; }
	.terms_box ul.alpha > li { list-style-type:upper-alpha; margin-left:20px; padding-bottom:2px; }
	.terms_box ul ul { padding:3px 0 5px; }
	.terms_box ul.general > li { list-style-type:disc; margin-left:20px; padding-bottom:2px; }
	.terms_box table th, 	.terms_box table td { border:1px solid #999; padding:3px 10px; vertical-align:middle; }

	/*정보입력*/
	#essential { position:relative; }
	#essential > p { width:300px; position:absolute; top:-20px; right:0; text-align:right; padding-bottom:8px; } 
	.table_wrap p img { vertical-align:middle; }
	table.tbl_common { width:100%; }
	table.tbl_common th.first, table.tbl_common td.first { border-top:2px solid #FFDA00; }
	table.tbl_common tr th, table.tbl_common tr td { padding:10px 15px; vertical-align:middle; border-bottom:1px solid #e1deca;}
	table.tbl_common tr th { background:#FAF8EA; color:#7d6700; text-align:left;  }
	table.tbl_common tr th img { vertical-align:middle; padding-right:4px; }	
	table.tbl_common tr td input[type="text"] { width:170px; }
	table.tbl_common tr td a.btn_help { padding:3px 8px 6px; font-size:12px; }
	table.tbl_common input[type="text"].address1 { width:65%;  margin-bottom:1%; }
	table.tbl_common input[type="text"].address2 { width:50%; }
	label.radio_w { display:inline-block; padding-right:20px; }
	td span.radio_wrap, td span.check_wrap { display:block; padding-bottom:1.5%; padding-top:10px; }
	.poll td span.check_wrap ul li { float:left; width:160px; padding-bottom:10px; }
	.poll table.tbl_common th { text-align:center; }
	.poll table td span.tit { color:#333; }	
	span.equal { display:inline-block; padding-left:15px; font-size:12px; color:#767676; }
	span.equal label { vertical-align:top; }
	.join #essential table.tbl_common tr td.first span { display:inline; vertical-align:middle; }

	/*가입완료*/
	.end_join, .end_sleep { border:1px solid #D3D3D3; padding:50px 20px; text-align:center; }
	.end_join p, .end_sleep p { padding:20px 0; font-size:18px; color:#555; line-height:140%; }
	.end_join p span, .end_sleep p span { color:#000; }

	/*휴면*/
	span.sleep_member { color:#000; font-weight:bold; font-size:14px; }

	/*개인정보취급방침*/
	#etc .clause_wrap .clause { border:1px solid #D4D4D4;  background:#F9F9F9; height:500px; overflow-y:scroll; }
	#etc .clause_wrap .terms_box, #etc .clause_wrap .terms_box p { line-height:20px; }
	#etc .terms_box table { margin-bottom:20px; }
	ul.link_policy { padding-top:20px; overflow:hidden; }
	ul.link_policy li { float:left; width:50%; text-align:center; font-size:13px; border:1px solid #bbb; padding:10px; }
	ul.link_policy li.on a { font-weight:bold; color:#000; text-decoration:underline; } 
	ul.link_policy li.bdr0 { border-right:0; }
	.etc_policy .clause_wrap { margin-bottom:25px; }
	.etc_policy .clause_wrap .clause { height:300px !important; }

	/*사이트맵*/
	.map_wrap { overflow:hidden; padding-top:20px; }
	#sitemap > div { margin-left:-2%; overflow:hidden; }
	#sitemap > div.box_2 > div { width:23%; padding-top:50px; }
	#sitemap > div > div { width:25%; margin-left:2%; float:left; }
	#sitemap > div > div.wide { width:71%; overflow:hidden; }
	#sitemap > div > div.wide > ul { width:32%; float:left; }	
	#sitemap > div h2 { border-top:2px solid #fed700; border-bottom:1px dotted #666; padding:10px 0 12px 10px; font-size:17px; 
								font-weight:bold; color:#83690e; }	
	#sitemap ul li span { display:block; padding-top:6px; font-size:13px; }
	#sitemap ul li a { display:block; width:100%; padding:7px 0 7px 0; font-size:13px; }
	#sitemap ul > li { color:#333; border-bottom:1px solid #ddd; color:#aa8917; padding-left:10px; }
	#sitemap ul > li a, #sitemap ul > li span { color:#aa8917; }
	#sitemap ul ul { padding:5px 0; }	
	#sitemap ul ul li { border-bottom:0; padding-bottom:2px; }
	#sitemap ul ul li a { width:auto; padding:3px 0 2px 10px; color:#767676; background:url('../img/blt_circle.png') no-repeat left center; font-size:12px;}
	#sitemap .last h2 { padding:0 !important; margin-bottom:30px; }
	#sitemap .last h2 a { display:block; font-size:17px; font-weight:bold; color:#83690e; padding:10px 0 12px 10px; }


@media screen and (min-width:961px) {

	div.etc span { width:auto; }
	div.etc a { display:block; width:130px; margin:0 auto; background:#545454; padding:5px; color:white; margin-top:20px; }


	/*아이디찾기*/
	div.find_id .way { height:auto;  }
	div.find_id .way img, .way_parent img { padding:35px 0; width:auto; }
	div.find_pw .mobile > span { height:252px; }



}

@media screen and (min-width:769px) and (max-width:960px ) {

	div.etc span { width:auto; }
	div.etc a { display:block; width:130px; margin:0 auto; background:#545454; padding:5px; color:white; margin-top:20px; }

	/*아이디찾기*/
	div.find_id .way { height:auto; }
	div.find_id .way img, .way_parent img { padding:35px 0; width:auto; }

	div.find_pw .mobile > span { height:252px; }


}

@media screen and (min-width:641px) and (max-width:768px ) {

	.login .etc { border-top:0; }
	.login .etc span, .login .etc a img.pc { display:none; }
	.login .etc div { background:none; padding:0; margin:20px 0; }
	.login .etc a { display:block; width:100%; text-align:center; background:white; padding:0; color:gray; margin:0; }
	.login .etc a img.m { display:inline-block; vertical-align:middle; }

	/*아이디찾기*/
	div.find_id .way { height:auto; }
	div.find_id .way img, .way_parent img { padding:30px 0; width:auto; }

	div.find_pw .way { padding:0 10px; }
	div#tabs ul li a { padding:4px 30px 8px;  }
	div.find_pw .mobile > span { height:252px; }

	/*로그인*/
	.login .img { float:none; width:100%; }
	.login .login_form { float:none; width:100%; }
	.login .login_form p.greeting_en { text-align:center; padding:30px 0 10px;  }
	.login .login_form p.greeting_kr { text-align:center; } 
	.login .login_form p.greeting_kr strong { color:#000; }
	.login .input_form { overflow:hidden; text-align:center; }
	.login .input_form ul, .login .input_form a.btn_login_pc { display:inline-block; float:none; }
	.input_form a.btn_login_pc { margin-left:-4px; }
	
	.join .way_age span { height:80px; padding-top:15px; }
	.join ul.tabMenu li { width:16.3%; }
	.join ul.tabMenu li.first span.big { font-size:15px; letter-spacing:-1px; }

	a.btn_help { margin-top:5px; }

	/*약관동의*/
	.member_svc ul li span.txt { font-size:12px; }

	/*비번 변경안내*/
	.pw_change .input_form ul { width:60%; margin:0 auto; }

	/*사이트맵*/
	.map_wrap { overflow:hidden; padding-top:20px; }
	#sitemap > div { margin-left:-3%; overflow:hidden; }
	#sitemap > div > div.wide { width:70%; overflow:hidden; }
	#sitemap > div > div.wide > ul { width:48%; float:left; }	
	#sitemap > div > div.wide > ul.inner3 { float:right; }
	#sitemap > div.box_2 > div { width:30.3%; padding-top:50px; }
	#sitemap > div > div { width:24%; margin-left:3%; float:left; }
	#sitemap > div.box_2 > div.last { width:100%; clear:left; margin-left:0; }
	#sitemap .last h2 { width:30.3%; float:left; margin:0 0 0 3%; padding:0 !important; }
	#sitemap .last h2 a { display:block; font-size:17px; font-weight:bold; color:#83690e; padding:10px 0 12px 10px; }

	
}

@media screen and (max-width:640px) {

	h2.tit_square { margin-bottom:10px; line-height:1.1; }
	p.intro { line-height:120%; }

	/*로그인*/
	.login .img { float:none; width:100%; }
	.login .img img { width:143.5px; }
	.login .login_form { float:none; width:100%; }
	.login >.box_login { padding:10% 5% 0 5%; }
	.login .login_form p.greeting_en { text-align:center; padding:20px 0 10px; font-size:25px;  }
	.login .login_form p.greeting_kr { text-align:center; letter-spacing:-0.5px; }  
	.login .login_form p.greeting_kr span { display:none; }
	.login .login_form p.greeting_kr strong { color:#000; }
	.login .input_form { overflow:hidden; text-align:center; }
	.login .input_form a.btn_login_pc { display:none; }
	.login .input_form a.btn_login_m { display:block; margin-top:10px; }
	.login .input_form ul { float:none;  padding-right:0; width:100%;}
	.login .input_form label { width:20%; text-align:left; }
	.login .input_form input { border:1px solid #ACACAC; padding:6px; margin-bottom:5px; width:75%; }

	.login .etc { border-top:0; }
	.login .etc span, .login .etc a img.pc { display:none; }
	.login .etc div { background:none; padding:0; margin:20px 0; }
	.login .etc a { display:block; width:100%; text-align:center; vertical-align:middle; background:white; padding:0; color:gray; margin-top:0; }

	/*아이디찾기*/
	div.find_id .way, div.find_pw .way, .way_parent { height:auto; padding:0 10px; }
	div.find_id .ipin, div.find_pw .data, div.join .first { margin-bottom:2%; }
	div.find_id .way h2, .way_parent h2 { height:30px; padding-bottom:10px; font-size:15px; } 
	div.find_id .way p, .way_parent p { height:40px; padding-bottom:10px; font-size:12px; }
	div.find_id .way img, .way_parent img { margin:20px 0; }
	div.find_id .way img, div.way_parent img { padding:0; }
	div.find_id .way a.btn { margin:10px 0;  }
	.way_parent h2 span { display:block; border-bottom:0; }
	.way_parent h2 { font-size:14px; }
	
	div.find_pw .way, div.join .way_age { width:100%;  float:none; }

	div.find_pw .data { margin-bottom:2%; }
	div.find_pw .way p { padding:7px 0 0;  }
	div.find_pw .data p { padding-bottom:10px; }
	div#tabs { padding-top:10px; } 
	div.find_pw .way > span { padding:15px 10px; }
	div.find_pw .mobile { padding-bottom:15px;}

	div.find_pw .way a.yellow, div.find_pw .way a.gray { padding:8px 20px 8px; }
	div.find_pw .way table { width:inherit; }
 
	/*탭메뉴*/
	div#tabs ul, div#tabs ul li { margin:0; padding:0; }
	div#tabs ul li { display:inline-block; list-style:none; line-height:18px; }
	div#tabs ul li, div#tabs ul li a { background:url('../img/bg_tab_off.gif') no-repeat; }
	div#tabs ul li a { display:inline-block; padding:6px 40px 6px; background-position:100% 0; text-decoration:none !important; }
	div#tabs ul li.on, div#tabs ul li.on a { background:url('../img/bg_tab_on.gif'); color:#d4aa00; }
	div#tabs ul li.on a {background-position:100% 0; }


	.login .etc a img.m { display:inline-block; vertical-align:middle; }

/*
	.layer_popup h2 { height:27px;  font-size:15px;  background:#FBDB00 url('../img/bg_tit_popup.gif') no-repeat 0 0;
								background-size:55%; }
	.layer_popup h2 span { padding:7px 0 0 10px; }
	.layer_popup .layer_close { display:block; position:absolute; top:4px; right:10px;  }
	.layer_popup .layer_close img { width:20px; }
	.layer_popup > p { text-align:center; padding:20px 10px;}
	#popup_id_sch { width:300px; }
	#popup_pw_sch { width:280px; }
	#popup_certify { width:280px; }
	.layer_popup .btns { padding:15px 0;}
	.layer_popup .btns a { display:inline-block; font-size:13px; height:18px; padding:6px 20px 0; border-radius:30px; }*/

	
	.layer_popup h2 { height:32px; background-size:61%; vertical-align:middle; }
	.layer_popup h2 span { display:inline-block; padding:7px 0 0 10px; font-weight:bold; text-shadow:1px 1px #EBBC00; }
	.layer_popup > div { overflow:hidden; padding:15px 20px 15px; text-align:center; }
	.layer_popup p { font-size:13px; padding-bottom:10px; line-height:130%; }
	.layer_popup ul li { font-size:13px; }
	.layer_popup .layer_close { float:right;  position:relative; top:6px; right:5px; }
	.layer_popup .layer_close img { width:20px; }
	.layer_popup .btns { clear:both; text-align:center; padding:0 0 20px; }
	.layer_popup .btns a { display:inline-block; font-size:13px; height:18px; padding:6px 20px 0;
									margin-bottom:5px; border-radius:30px; }


	#pop_fail_01 p { border-bottom:1px solid #d4d4d4; }
	#pop_fail_01 { width:80%; min-width:300px; height:285px; }
	#pop_fail_01 div img { float:none; padding-top:10px; width:90px; }
	#pop_fail_01 ul.contact { float:none; }
	#pop_fail_01 ul.contact { padding-top:10px; }
	#pop_fail_01 ul.contact li { padding-bottom:3px; text-align:center; }

	#pop_fail_02 { width:300px; height:390px; }
	#pop_fail_02 > div.ct {  display:table; }
	#pop_fail_02 p { display:table-cell; vertical-align:middle; font-size:75%; }
	#pop_fail_02 .btns { display:table; }
	#pop_fail_02 .btns span { display:table-cell;}

	#pop_pw_change { width:300px; height:230px; }
	#pop_pw_change ul, #popup_certify ul{ text-align:center; padding-top:10px; }
	#pop_pw_change ul li, #popup_certify ul li { margin-bottom:5px; }
	#pop_pw_change ul li input { width:50%; }
	#pop_pw_change ul li label, #popup_certify ul li label { font-size:12px; padding-right:10px; vertical-align:middle; color:#555; }	
	#popup_id_sch { width:280px; height:170px; }

	#popup_certify { width:250px; height:230px; }
	#input_user_data { width:280px; height:290px; }
	#input_user_data ul li input { width:50%; }
	#input_user_data ul li label { width:30%; }

	.join ul.tabMenu { display:none; }
	.join .note { padding:15px; } 
	.join .way_age span { height:auto; padding-top:15px; }
	.note { margin-bottom:5%;}

	span.txt_help { background-size:10px; background-position:0 2px;}
	a.btn_help { display:inline-block; font-size:11px; border:1px solid #A5A5A5; border-radius:2px; padding:3px 5px 2px; 
					vertical-align:middle; background:url('../img/bg_btn_help.gif') repeat-x left bottom; margin-top:5px; }

	/*약관동의*/
/*	.member_svc ul li span.img { height:60px;}*/
	.member_svc { margin:5% 0; }
	.member_svc ul li img.num { top:10px; left:10px; padding:0; width:18.5px; }
	.member_svc ul { overflow:initial; }
	.member_svc ul li { float:none; display:table; overflow:hidden; width:100%; height:auto; border-right:0; border-bottom:1px solid #FAC200; text-align:left; position:relative; }
	.member_svc ul li.last { border-bottom:0; }
	.member_svc ul li span.img { float:left; padding:10px 10px 10px 20px; margin-right:3%; text-align:center; }
	.member_svc ul li span.txt {  display:table-cell; vertical-align:middle; width:62%; height:100%; background:none; padding:0 10px 0 0; font-size:13px; line-height:120%; }
	.member_svc ul li img.num { position:absolute; top:10px; left:10px; padding:0; }

	.join p.info { margin-bottom:3%; } 

	h3.tit_square { margin-left:0; margin-bottom:10px;}
	.join .clause_wrap {  margin:0 10px 5%; }
	.join .clause_wrap .mb { margin-bottom:3%; }

	/*정보입력*/

	table.tbl_common tr td input[type="text"] { width:100%; }
	table.tbl_common th { width:30%; }
	table.tbl_common th img { display:block; padding-bottom:5px;}
	table.tbl_common td { width:70%; }
	table.tbl_common input { margin-bottom:2%; }
	table.tbl_common input[type="text"].address1 { width:100%; margin-bottom:2%; }
	table.tbl_common input[type="text"].address2 { width:100%; margin-bottom:2%;}
	td span.radio_wrap, td span.check_wrap { padding-bottom:10px;  }
	.table_wrap { margin-bottom:5%; }
	.join #essential table.tbl_common tr td.first span { display:block; padding-top:2px; }

	.poll { margin-bottom:0; }
	.poll table.tbl_common th { width:25%; }
	.poll table.tbl_common td { width:75%; }
	.poll td span.check_wrap ul li { float:left; width:50%; padding-bottom:10px; }
	
	#essential > p { width:auto; position:static;  text-align:right; padding-bottom:8px; } 

	/*비번 변경안내*/
	.pw_change { padding-top:20px;  }
	.pw_change .input_form ul { width:85%;  }

	ul.link_policy li { float:none; width:100%; }
	ul.link_policy li.bdr0 { border-bottom:0; border-right:1px solid #bbb; }

	/*사이트맵*/
	.map_wrap { overflow:hidden; padding-top:20px; }
	#sitemap > div { margin-left:0; overflow:hidden; }
	#sitemap > div > div.wide { width:100%; overflow:hidden; margin-top:20px; }
	#sitemap > div > div.wide > ul { width:47%; float:left; }	
	#sitemap > div > div.wide > ul.inner3, #sitemap > div > div.wide > ul.inner2 { margin-left:2%; float:left; }
	#sitemap > div.box_2 > div { width:100%; padding-top:20px; }
	#sitemap > div > div { width:100%; margin-left:0; float:none; }
	#sitemap > div.box_2 > div.last { width:100%; clear:left; margin-left:0; }
	#sitemap .last h2 { width:100%; float:none; margin-bottom:20px; padding:0 !important; }
	#sitemap .last h2 a { display:block; font-size:17px; font-weight:bold; color:#83690e; padding:10px 0 12px 10px; }
	#sitemap ul ul li a { font-size:13px; }
	#sitemap ul > li a, #sitemap ul > li span { font-size:14px;  }
	#sitemap ul li span { padding-top:10px;  }

	/*2016-03-29*/
	.btn_exception a { width:49%; height:35px; line-height:1 !important;  padding:8px 10px 0 !important; }

}